<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/plantilla :: common-header" />
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div th:replace="common/plantilla :: header-main-header"></div>
		
		<div th:replace="common/plantilla :: sidebar"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Panel de control
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Panel de control</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<!-- Aqui va el contenido que se carga de todas las vistas -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		
		<div th:replace="common/plantilla :: main_footer"></div>
	</div>
	<!-- ./wrapper -->
	
	<div th:replace="common/plantilla :: plugins"></div>
</body>
</html>