<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/plantilla :: common-header" />
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div th:replace="common/plantilla :: header-main-header"></div>

		<div th:replace="common/plantilla :: sidebar"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					<p>
						<a th:href="@{/cliente/GenerarNuevoConsecutivo(id=${lead.id})}" class="btn btn-info"> Nueva Orden </a>
						<a th:href="@{/lead/EditarLead(id=${lead.id})}" class="btn btn-success"> Editar Lead </a> 
						<a class="btn btn-danger" th:href="@{/lead/listarLeads}">Regresar</a>
						<div class="box-body" th:if="${Editado}">
							<div class="alert alert-success alert-dismissible text-center">
								<button type="button" class="close" data-dismiss="alert"
									aria-hidden="true">&times;</button>
								<h4>
									<i class="icon fa fa-check"></i>LEAD MODIFICADO.
								</h4>
	
							</div>
						</div>
					</p>

					<!-- Detalle del LEAD ......  -->

				</h1>
				<ol class="breadcrumb">
					<li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i>
							Home</a></li>
					<li class="active">
						 <i class="fa fa-user" aria-hidden="true">
						 </i> Crear cliente</li>					
					
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<!-- AQUI VA EL CONTENIDO -->
				<form class="form-horizontal" action="" method="post" id="itemsClienteSubmit">
			      
			      <input hidden="hidden" name="idProspecto" id="idProspecto" th:value="${lead.id}" />
			      <!--  <input hidden="hidden" name="consecutivoOrden" id="consecutivoOrden" th:value="${consecutivoOrden}" /> -->
			
					<div class="container">
						<div class="col-md-12">
							<!-- Box Comment -->
							<div class="box box-widget">
								<div class="box-header with-border">
									<div class="user-block">
										<div class="row">
											<div class="col-xs-6">
												<img class="img-circle" src="../dist/img/user1-128x128.jpg"
													alt="User Image" /> <span class="username"> <span
													th:text="${lead.empresa}"></span>
												</span> <span class="description"><span
													th:text="${lead.NombreTipoEmpresa}"> </span>
													<p>
														Creada el: <span th:text="${lead.fechaCreacion}"></span>
													</p> </span>
											</div>
											<div class="col-xs-6">
												<span th:text="${lead.countryName}"></span>
												<p>
													<span th:text="${lead.stateName}" /> <label> / </label> <span
														th:text="${lead.cityName}" />
												</p>
											</div>
										</div>
		
									</div>
									<!-- /.user-block -->
									<div class="box-tools">
										<button type="button" class="btn btn-box-tool"
											data-toggle="tooltip" title="Mark as read">
											<i class="fa fa-circle-o"></i>
										</button>
										<button type="button" class="btn btn-box-tool"
											data-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
										<!-- <button type="button" class="btn btn-box-tool"
											data-widget="remove">
											<i class="fa fa-times"></i>
										</button>-->
									</div>
									<!-- /.box-tools -->
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<!-- post text -->
									
									<div class="row">
										<div class="col-xs-6" style="text-align:left;">
											<label class="col-md-4 control-label" for="idPaqueteComercial">N&uacute;mero de orden:</label>
											<input type="text" name="consecutivoOrden" id="consecutivoOrden" th:value="${consecutivoOrden}" readonly="readonly" style="border:none;"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<p>              </p>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-6">
											<label class="col-md-4 control-label" for="idPaqueteComercial">Paquete comercial:</label>
											<div class="form-group col-md-8">										
												<select name="idPaqueteComercial" class="form-control" id="idPaqueteComercial">
													<option value="0">Seleccione .... </option>
		    										   <option th:each="paquete : ${paquetes}" th:value="${paquete.idPaqueteProducto}" th:text="${paquete.nombrePaquete}"></option>
												</select> 
											</div>	
										</div>
											
										<div class="col-xs-6">
											<label class="col-md-4 control-label" for="idProducto">Producto Adicional:</label>
											<div class="form-group col-md-8">										
												<select name="productos" class="form-control" id="idProducto">
													<option value="0">Seleccione .... </option>
		    										   <option th:each="producto : ${productos}" th:value="${producto.id}" th:text="${producto.nombre_producto}"></option>
												</select> 
											</div>
										</div>
										
										
										<!-- Botones -->		
										<div class="col-md-6 col-lg-12 ml-auto d-flex align-items-center mt-4 mt-md-0">				
											<div class="form-group col-md-8">
													<button type="submit" id="buttonAgregar" class="btn btn-success ">A&ntilde;adir Item</button>																						
											</div>
										</div>
									</div>
									
									<!-- Lista de productos agregados -->
									<div class="attachment-block clearfix" id="paquetesProductosAddedCliente">
										<div class="col-xs-12">
											<h4 class="attachment-heading">
												<p></p>
												<strong>Items agregados: </strong>
											</h4>
											<div class="attachment-text">										
												<div class="box-body">
													<table id="example1" class="table table-bordered table-striped">
														<thead>
															<tr>
																<th>Item</th>
																<th>Tipo</th>																		
																<th>Valor</th>
																<th>Agreado el</th>
																<th>Eliminar</th>
																<th>Consultar</th>																																	
															</tr>
														</thead>
														<tbody>
															<tr data-th-each="paqueteProducto : ${paquetesProductos}">
														        <td th:text="${paqueteProducto.nombrePaqueteComercial}"></td>
														        <td th:text="${paqueteProducto.nombrePaqueteComercial}"></td>
														        <td th:text="${paqueteProducto.nombrePaqueteComercial}"></td>
														        <td th:text="${paqueteProducto.fechaCreacionCliente}"></td>												        												        												        
														        <td><a href="@{/paqueteProducto/deleteProduct/{idPaqueteProducto} (idPaqueteProducto=${paqueteProducto.idPaqueteProducto})}" class="btn btn-primary btn-danger btn-sm"><span class="fa fa-info-circle"> </span> Eliminar</a></td>												        																																												        
														        <td><a href="@{/producto/productoInfoPp/{id}/{idPaqueteProducto} (id=${paqueteProducto.idProducto}, idPaqueteProducto=${paqueteProducto.idPaqueteProducto})}" class="btn btn-primary btn-sm"><span class="fa fa-info-circle"> </span> Consultar</a></td>
															</tr>
														</tbody>												
													</table>
												</div>
											</div>
											<!-- /.attachment-text -->
										</div>
										<!-- /.attachment-pushed -->
									</div>
		
		
									<!-- /.attachment-block -->
		
									<!-- Social sharing buttons -->
									<!-- 
									<button type="button" class="btn btn-default btn-xs">
										<i class="fa fa-share"></i> Share
									</button>
									<button type="button" class="btn btn-default btn-xs">
										<i class="fa fa-thumbs-o-up"></i> Like
									</button>
									<span class="pull-right text-muted">45 likes - 2 comments</span> 
									-->
								</div>
								<!-- /.box-body -->
		
		
								<!-- /.box-footer -->
							</div>
							<!-- /.box -->
							  
							<a th:href="@{/cliente/FinalizarOrden(id=${lead.id}, consecutivoOrden=${consecutivoOrden})}" class="btn btn-block btn-warning btn-lg"> Checkout Orden </a>
						</div>
						<!-- /.col -->
					</div>
				<!-- Form Close -->
				</form>
			</section>
       </div>
		<!-- /.content-wrapper -->

		<div th:replace="common/plantilla :: main_footer"></div>
	</div>
	<!-- ./wrapper -->

	<div th:replace="common/plantilla :: plugins"></div>
	
	<!-- Script DataTable -->
	<script>
		$(function() {
			$('#example1').DataTable()			
		})
	</script>
	
	<!-- SCRIPT AJAX PARA LA TABLA -->
		<script type="text/javascript">
	
		//AQUI SE LLENAN LOS DATOS  A ENVIAR DEL FORMULRIO Y SE EMPACAN EN JSON
		$(document).ready(function() {
			$('#itemsClienteSubmit').submit(function(e) {
		        // reference to form object
				var form = this;
		        // for stopping the default action of element
		        e.preventDefault();
		        // mapthat will hold form data
		        var formData = {}
		        
		        //DESACTIVAR LOS DROPLIST PARA PAQUETE Y TIPO DE CONTRATO DESPUES DE LA PRIMERA SELECCION
		        //$("#idPaquete").attr('disabled',true);
		        //$("#tipoContrato").attr('disabled',true);
		        
				//iterate over form elements   
		        $.each(this, function(i, v){
				    var input = $(v);
				    // populate form data as key-value pairs
			            // with the name of input as key and its value as value
			          
			        /*    
		            if(input.attr("name")=="estado")
		            {
		             if(input.prop("checked")==true)
		                formData[input.attr("name")] = input.val();			            		
		            }
		            else
		            	formData[input.attr("name")] = input.val();				        
				    */
				    formData[input.attr("name")] = input.val();
		        });
		        console.log(formData);
		        
		        //////
		        //$(function(){
				
				//    $("#idPaquete").on("change", function(){
				
				  //      var getValue = $(this).val();
				//	 });
				//});
		        /////
		        
		        var idPaqueteComercial = $("#idPaqueteComercial").val();
		        var idLead = $("#idProspecto").val();
		        $.ajax({
		            type: "POST", // method attribute of form
		            //url: "http://localhost:8081/paqueteProducto/TablePaqueteProductos",  // action attribute of form
		            url: "/cliente/TablePaqueteProductosAddCliente",  // action attribute of form
		            //url: "/paqueteProducto/TablePaqueteProductos?idPaquete="+idPaquete,  // action attribute of form
		            headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
		            dataType : "json",
			  		// convert form data to json format
		            data : JSON.stringify(formData),
		            async: false,
		            cache: false,
		            contentType: false,
		            processData: false,		            
		            success: function (data0) {
		                //console.log(data0.existe);
		                //var consecutivo = data0.consecutivoOrden;
		                //$("#consecutivoOrden").val(consecutivo);
		                if(data0.existe)
		                	swal({
				                  title: data0.nombreProducto,
				                  text: "Ya existe para este paquete.",
				                  icon: "warning",
				                  button: "CERRAR!",
				                });			
		                else{
		                	//
		                }
		            },
		            //error: function (xhr, textStatus, errorThrown) {
		            error: function (data0) {	
		                console.log("este es un error: "+ data0);
		                //alert(errorThrown);
		            }
		            
		        });
		       
		        var consecutivo = $("#consecutivoOrden").val();
		      //AQUI SE HACE EL LLAMADO AL DIV QUE SE VA A REEMPLAZAR Y SE TRAE DEL CONTROLLER getTablePaqueteProductos
		        $.get("/cliente/getTablePaqueteProductosAddedCliente?consecutivoOrden="+consecutivo, function( data1 ) {		        			        
			    	$("#paquetesProductosAddedCliente").empty();
			    	$("#paquetesProductosAddedCliente").html(data1);		    	
			    });		       
		   });
		
			//$('#tipoContrato').change(function(e) {
			$("#tipoContrato").on("change", function(e){					
				//alert("Hola");
				var idPaqueteComercial = $("#idPaqueteComercial").val();
				var idProducto = $("#idProducto").val();
				
				if(idPaqueteComercial != 0){
				
					$.get("/paqueteProducto/getTablePaqueteProductosExisten?idPaqueteComercial="+idPaqueteComercial+"&tipoContrato="+tipoContrato, function( data1 ) {		        			        
				    	$("#paquetesProductosAgregados").empty();
				    	$("#paquetesProductosAgregados").html(data1);		    	
				    });
				}
				
				else{
					//alert("Hola");						
					swal({
		                  title: "Advertencia!",
		                  text: "Debe seleccionar un Paquete",
		                  icon: "warning",
		                  button: "CERRAR!",
		                });							
				}

			});		
		});
			
			function borrar(idPaqueteProducto){
				//alert("Este es el Valor: "+idPaqueteProducto);
				
				var idPaqueteComercial = $("#idPaquete").val();
				var tipoContrato = $("#tipoContrato").val();
				
				$.get("/paqueteProducto/borrarActualizar?idPaqueteProducto="+idPaqueteProducto+"&idPaqueteComercial="+idPaqueteComercial+"&tipoContrato="+tipoContrato, function( data1 ) {		        			        
			    	$("#paquetesProductosAgregados").empty();
			    	$("#paquetesProductosAgregados").html(data1);
				 });			
			}
			
		</script>
	

</body>
</html>