<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/plantilla :: common-header" />
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div th:replace="common/plantilla :: header-main-header"></div>
		
		<div th:replace="common/plantilla :: sidebar"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<!-- <h1>
					Dashboard <p><small>Control panel</small></p>
				</h1>-->
				<ol class="breadcrumb">
					<li><a th:href="@{/ajustes/listarZonas}"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
			
			<!-- AQUI VA EL CONTENIDO -->
			<form class="form-horizontal" th:action="@{/ajustes/tipoEmpresaAdd}" method="post"
				enctype="multipart/form-data">
				<fieldset>
				<input hidden="hidden" name="idTipoEmpresa" th:value="${tipoEmpresa.idTipoEmpresa}" />
					<legend class="center-block">
						Editar tipo empresa.<span style="font-size: small"> * es un campo obligatorio</span>
					</legend>
					
					<div th:if="${existe}">
					  <div class="box-body">
							 <div class="alert alert-warning alert-dismissible text-center">
				                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				                <h4><i class="icon fa fa-warning"></i> Precauci&oacute;n!</h4>
				                El campo "Nombre" ya existe!!!
				             </div>
						</div>
					 </div>
					
					
					
						<!-- Nombre tipo empresa-->
					<div class="form-group">
						<label class="col-md-2 control-label" for="nombreTipoEmpresa">* Nombre</label>

						<div class="col-md-8">
							<input type="text" name="nombreTipoEmpresa" maxlength="200" class="form-control" id="nombreTipoEmpresa"
								th:value="${tipoEmpresa.nombreTipoEmpresa}" required="required" placeholder="Zona" />
							<span class="help-block">Nombre del tipo de empresa</span>
						</div>
					</div>

					<!-- Estado de la zona -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="estado">Estado</label>
						<div class="col-md-8" th:switch="${tipoEmpresa.estado}"> 
							<p th:case="'1'">
								<label>
								  <input value="1" type="radio" name="estado" id="estado"
									checked="checked" /> Activo 
								 </label> 
								 <label>
									<input th:value="0" type="radio" name="estado" />Inactivo 
								 </label> 
							    <span class="help-block">Estado de tipo de empresa, activo o Inactivo en el sistema. </span>
						    </p>
						    
						    <p th:case="'0'">
							<label>
							  <input value="1" type="radio" name="estado" id="estado"/> Activo 
							 </label> 
							 <label>
								<input th:value="0" type="radio" name="estado" checked="checked" />Inactivo 
							 </label> 
						    <span class="help-block">Estado del tipo de empresa, activo o Inactivo en el sistema. </span>
						    </p>
						    
						</div>
					</div>

					<!-- Descripcion del tipo de empresa-->
					<div class="form-group">
						<label class="col-md-2 control-label" for="descripcionTipoEmpresa">Descripci&oacute;n</label>
						<div class="col-md-8">
							<textarea name="descripcionTipoEmpresa" rows="5" class="form-control" maxlength="2000"
								id="descripcionTipoEmpresa" th:value="${tipoEmpresa.descripcionTipoEmpresa}" th:text="${tipoEmpresa.descripcionTipoEmpresa}"
								placeholder="Descripci&oacute;n"> 								
								</textarea>
							<span class="help-block">Describa el tipo de empresa</span>
						</div>
					</div>

					

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Guardar</button>
							<a class="btn btn-danger" th:href="@{/ajustes/listarTiposEmpresas}">Cancelar</a>
						</div>
					</div>
				</fieldset>
			</form>
			
			
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		
		<div th:replace="common/plantilla :: main_footer"></div>
	</div>
	<!-- ./wrapper -->
	
	<div th:replace="common/plantilla :: plugins"></div>

</body>
</html>