<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/plantilla :: common-header" />
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div th:replace="common/plantilla :: header-main-header"></div>

		<div th:replace="common/plantilla :: sidebar"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
				<!--Listar Todos los LEADs -->
					<p>					
						<a th:href="@{/ajustes/nuevoTipoEmpresa}" class="btn btn-success"></i>
							Nuevo tipo de empresa</a>
					</p>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Listar Tipos de Empresas</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<!-- Aqui va el contenido que se carga de todas las vistas -->
				<div class="box">
				<!-- <div class="box-header">
						<h1>Listar LEADS</h1>
					</div> -->	
					<!-- /.box-header -->
					<div class="box-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<!-- <th>Id</th>-->									
									<th>Consultar</th>
									<th>Nombre</th>																		
									<th>Estado</th>																								
									<th>Descripci&oacute;n</th>						
								</tr>
							</thead>
							<tbody>
								<tr data-th-each="tiposEmpresa : ${tiposEmpresas}">									 														   
							        <td><a th:href="@{/ajustes/tipoEmpresaInfo(idTipoEmpresa=${tiposEmpresa.idTipoEmpresa})}" class="btn btn-primary btn-sm"><span class="fa fa-info-circle"> </span> Consultar</a></td>
							        <td th:text="${tiposEmpresa.nombreTipoEmpresa}"></td>							        									
									<!-- <td th:text="${zonaComercial.estado}"></td>
									<td><p th:if="${zonaComercial.estado} == 1 }"> Activo</p></td> -->
									<td>
										<div th:switch="${tiposEmpresa.estado}">
											  <p th:case="'1'">Activo</p>
											  <p th:case="0">Inactivo</p>
										</div>
									</td>									
								   <td th:utext="${tiposEmpresa.descripcionTipoEmpresa}"></td>																																													
								</tr>
							</tbody>
							
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<div th:replace="common/plantilla :: main_footer"></div>
	</div>
	<!-- ./wrapper -->

	<div th:replace="common/plantilla :: plugins"></div>

	<script>
		$(function() {
			$('#example1').DataTable()
			/*$('#example2').DataTable({
				'paging' : true,
				'lengthChange' : false,
				'searching' : false,
				'ordering' : true,
				'info' : true,
				'autoWidth' : false
			})*/
		})
	</script>
</body>
</html>