<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/plantilla :: common-header" />
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div th:replace="common/plantilla :: header-main-header"></div>
		
		<div th:replace="common/plantilla :: sidebar"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<!-- <h1>
					Dashboard <p><small>Control panel</small></p>
				</h1>-->
				<ol class="breadcrumb">
					<li><a th:href="@{/ajustes/listarTiposEmpresas}"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Nuevo tipo de empresa</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
			
			<!-- AQUI VA EL CONTENIDO -->
			<form class="form-horizontal" th:action="@{/ajustes/tipoEmpresaAdd}" method="post"
				enctype="multipart/form-data" id="formcreartipoempresa">
				<fieldset>
					<legend class="center-block">
						Nuevo tipo de empresa. <span style="font-size: small"> * es un campo obligatorio</span>
					</legend>
					
					<div th:if="${existe}">
					  <div class="box-body">
							 <div class="alert alert-warning alert-dismissible text-center">
				                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				                <h4><i class="icon fa fa-warning"></i> Precauci&oacute;n!</h4>
				                Este tipo de empresa ya existe !!!
				             </div>
						</div>
					</div>
					<div class="box-body" id="notificacion" style="display: none;">
						 <div class="alert alert-warning alert-dismissible text-center">
			                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                <h4><i class="icon fa fa-warning"></i> Precauci&oacute;n!</h4>
			                Este tipo de empresa ya existe !!!
			             </div>
					</div>
					
					<!-- Nombre del tipo de empresa-->
					<div class="form-group">
						<label class="col-md-2 control-label" for="nombreTipoEmpresa">* Nombre </label>

						<div class="col-md-8">
							<input type="text" name="nombreTipoEmpresa" maxlength="200" class="form-control" id="nombreTipoEmpresa"
								th:value="${tipoEmpresa.nombreTipoEmpresa}" required="required" placeholder="tipo Empresa" />
							<span class="help-block">Nombre del tipo de empresa</span>
						</div>
					</div>

					<!-- Estado del tipo de empresa -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Status</label>
						<div class="col-md-8">
							<label><input value="1" type="radio" name="estado" id="estado"
								checked="checked" /> Activo </label> <label>
								<input th:value="0" type="radio" name="estado" />
								Inactivo </label> <span class="help-block">Estado de tipo de empresa, activo o Inactivo en el sistema. </span>
						</div>
					</div>

					<!-- Descripciondel tipo de empresa-->
					<div class="form-group">
						<label class="col-md-2 control-label" for="descripcionTipoEmpresa">Descripci&oacute;n</label>
						<div class="col-md-8">
							<textarea name="descripcionTipoEmpresa" rows="5" class="form-control" maxlength="2000"
								id="descripcionTipoEmpresa" th:value="@{tipoEmmpresa.descripcionTipoEmpresa}"
								placeholder="Descripci&oacute;n"> 								
								</textarea>
							<span class="help-block">Describa el tipo de empresa</span>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<!-- <button type="submit" class="btn btn-success">Guardar</button> -->
							<button type="button" class="btn btn-success" onclick="javascript:validar()">Guardar</button>
							<a class="btn btn-danger" th:href="@{/ajustes/listarTiposEmpresas}">Cancelar</a>
						</div>
					</div>
				</fieldset>
			</form>
			
			
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		
		<div th:replace="common/plantilla :: main_footer"></div>
	</div>
	<!-- ./wrapper -->
	
	<div th:replace="common/plantilla :: plugins"></div>
	
	<script>
			//AQUI SE LLENAN LOS DATOS  A ENVIAR DEL FORMULRIO Y SE EMPACAN EN JSON
			$(document).ready(function() {
				$("#nombreTipoEmpresa").on("change", function(e){					
					//alert("Valor=>"+this.value);
					var nombreTipoEmpresa = this.value;
					if(nombreTipoEmpresa != null){
						//alert("Estoy en el if");
						$.get("/ajustes/verificarNombreTipoEmpresa?nombreTipoEmpresa="+nombreTipoEmpresa, function( data1 ) {
							//alert("Estoy en el ajax");
							//console.log(data1);
					    	if(data1)
					    	{
					    		/*swal({
					                  title: "Advertencia!",
					                  text: "Ya existe un paquete con ese nombre, por favor cambiarlo",
					                  icon: "warning",
					                  button: "CERRAR!",
					                });*/
				    			$("#notificacion").show();
				    			
					            setTimeout(function() {
				    		        $("#notificacion").fadeOut(1500);
				    		    },4500);
					    	}
					    	else
					    		console.log(data1);
					    });
					}
				});
			});
			
			function validar()
			{ 
				var nombreTipoEmpresa = $("#nombreTipoEmpresa").val(); 
				if(nombreTipoEmpresa != null)
				{
					$.get("/ajustes/verificarNombreTipoEmpresa?nombreTipoEmpresa="+nombreTipoEmpresa, function( data1 ) 
					{
				    	if(data1)
				    	{
				    		
				    		swal({
				                  title: "Advertencia!",
				                  text: "Ya existe un tipo de empresa con ese nombre, por favor cambiarlo",
				                  icon: "warning",
				                  button: "CERRAR!",
				                });
			    			//$("#notificacion").show();
				    	}
				    	else
				    	{
				    		$("#formcreartipoempresa").submit();
				    		//console.log("entra al else");
				    	}
				    });
				}
			}
		</script>
	
</body>
</html>