<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/plantilla :: common-header" />
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div th:replace="common/plantilla :: header-main-header"></div>

		<div th:replace="common/plantilla :: sidebar"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					<p>
						<a th:href="@{/producto/editarProducto(id=${producto.id})}" class="btn btn-success"> Editar </a> 
						 <a class="btn btn-danger" th:href="@{/producto/listarProductos}">Regresar</a>
						 <div class="box-body" th:if="${Editado}">
							<div class="alert alert-success alert-dismissible text-center">
								<button type="button" class="close" data-dismiss="alert"
									aria-hidden="true">&times;</button>
								<h4>
									<i class="icon fa fa-check"></i>PRODUCTO MODIFICADO.
								</h4>
	
							</div>
						</div>
					</p>

				</h1>
				<ol class="breadcrumb">
					<li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i>
							Home</a></li>
					<li class="active"><a th:href="@{/producto/listarProductos}"><i
							lass="fa fa-long-arrow-left" aria-hidden="true">Regresar</a></li>
				</ol>
			</section>

			<!-- Main content -->
			<div class="container">
				<div class="col-md-12">
					<!-- Box Comment -->
					<div class="box box-widget">
						<div class="box-header with-border">
						
							<!-- /.user-block -->
							<div class="box-tools">
								<button type="button" class="btn btn-box-tool"
									data-toggle="tooltip" title="">
									<i class="fa fa-circle-o"></i>
								</button>
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<!-- <button type="button" class="btn btn-box-tool"
									data-widget="remove">
									<i class="fa fa-times"></i>
								</button>-->
							</div>
							<!-- /.box-tools -->
							
							<h4 class="attachment-heading">
							  <p></p>
								  <strong>DATOS DEL PRODUCTO:</strong>
							</h4>
							
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<!-- post text -->
							<div class="row">
								<div class="col-xs-6">
									<!--<p><strong>Empresa: </strong><span th:text="${lead.empresa}"></span></p>  -->
									<p>
										<label class="col-md-4 control-label" for="nombre_producto">
											Nombre: </label><span th:text="${producto.nombre_producto}"></span>
									</p>
									<p>
										<label class="col-md-4 control-label" for="publisher">Estado
										  </label>										  
										  <span>										  
											   <div th:switch="${producto.estado}">
												  <p th:case="'1'">Activo</p>
												  <p th:case="0">Inactivo</p>																					  
											  </div>
										  </span>
									</p>	
									<!-- <p>
										<label class="col-md-4 control-label" for="nroTicketsPeriodo">
											Tickets p&eacute;riodo: </label><span th:text="${producto.nroTicketsPeriodo}"></span>
									</p>-->
									<p>
										<label class="col-md-4 control-label" for="licencia_desde">
											Vlr licencia desde: </label><span th:text="${#numbers.formatCurrency(producto.licencia_desde)}"></span>
									</p>	
									<p>
										<label class="col-md-4 control-label" for="noche_fact_desde">
										Vlr noche desde: </label><span th:text="${#numbers.formatCurrency(producto.noche_fact_desde)}"></span>
									</p>								
								</div>
								
								<div class="col-xs-6">
									<p>
										<label class="col-md-4 control-label" for="tipoProducto">Tipo Producto: </label>										  
										  <span>										  
											   <div th:switch="${producto.tipoProducto}">
												  <p th:case="'1'">Aplicaci&oacute;n</p>
												  <p th:case="0">Servicio</p>																					  
											  </div>
										  </span>
									</p>									
									<p>
										<label class="col-md-4 control-label" for="creado_por">Creado por:
									</label><span th:text="${producto.creado_por}"></span>
									</p>
									<p>
										<label class="col-md-4 control-label" for="mes_desde">
											Vlr mes desde: </label><span th:text="${#numbers.formatCurrency(producto.mes_desde)}"></span>
									</p>
									<p>
										<label class="col-md-4 control-label" for="fecha_creacion">Fecha Creaci&oacute;n:
									</label><span th:text="${producto.fecha_creacion}"></span>
									</p>									
								</div>
							</div>
						
							

							<!-- /.attachment-block -->

							<!-- Social sharing buttons -->
							<!-- 
							<button type="button" class="btn btn-default btn-xs">
								<i class="fa fa-share"></i> Share
							</button>
							<button type="button" class="btn btn-default btn-xs">
								<i class="fa fa-thumbs-o-up"></i> Like
							</button>
							<span class="pull-right text-muted">45 likes - 2 comments</span> 
							-->
						</div>
						<!-- /.box-body -->


						<!-- /.box-footer -->
					</div>
					<!-- /.box -->
					
					
					  
				</div>
				<!-- /.col -->

			</div>
			
			<!-- ////////////////////////// DESCRIPCION /////////////////////////////// -->
					<!-- Main content -->
			<div class="container">
				<div class="col-md-12">
					<!-- Box Comment -->
					<div class="box box-widget collapsed-box">
						<div class="box-header with-border">
						
							<!-- /.user-block -->
							<div class="box-tools">
								<button type="button" class="btn btn-box-tool"
									data-toggle="tooltip" title="Mark as read">
									<i class="fa fa-circle-o"></i>
								</button>
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<!-- <button type="button" class="btn btn-box-tool"
									data-widget="remove">
									<i class="fa fa-times"></i>
								</button>-->
							</div>
							<!-- /.box-tools -->
							
							<h4 class="attachment-heading">
							  <p></p>
								  <strong>DECRIPCI&Oacute;N DEL PRODUCTO: </strong>
							</h4>
							
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<!-- post text -->
														
							<!-- Descripcion del producto -->
							<div class="attachment-block clearfix">
								<div class="col-xs-12">
								<!-- <h4 class="attachment-heading">
										<p></p>
										<strong>Descripci&oacute;n: </strong>
									</h4> -->	

									<div class="attachment-text">
									<p></p>
										<span th:utext="${producto.descripcion}"></span>
									</div>
									<!-- /.attachment-text -->
								</div>
								<!-- /.attachment-pushed -->
							</div>
						
							<!-- /.attachment-block -->

							<!-- Social sharing buttons -->
							<!-- 
							<button type="button" class="btn btn-default btn-xs">
								<i class="fa fa-share"></i> Share
							</button>
							<button type="button" class="btn btn-default btn-xs">
								<i class="fa fa-thumbs-o-up"></i> Like
							</button>
							<span class="pull-right text-muted">45 likes - 2 comments</span> 
							-->
						</div>
						<!-- /.box-body -->


						<!-- /.box-footer -->
					</div>
					<!-- /.box -->
					
					
					  
				</div>
				<!-- /.col -->

			</div>
			

<!-- ////////////////////////////////////////////////////////////////////////////// -->

<!-- /////////////////////// HARDWARE ////////////////////////////////// -->
					<!-- Main content -->
			<div class="container">
				<div class="col-md-12">
					<!-- Box Comment -->
					<div class="box box-widget collapsed-box">
						<div class="box-header with-border">
						
							<!-- /.user-block -->
							<div class="box-tools">
								<button type="button" class="btn btn-box-tool"
									data-toggle="tooltip" title="Mark as read">
									<i class="fa fa-circle-o"></i>
								</button>
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<!-- <button type="button" class="btn btn-box-tool"
									data-widget="remove">
									<i class="fa fa-times"></i>
								</button>-->
							</div>
							<!-- /.box-tools -->
							
							<h4 class="attachment-heading">
							  <p></p>
								  <strong>REQUISITOS DE HARDWARE: </strong>
							</h4>
							
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<!-- post text -->
														
							<!-- Descripcion del producto -->
							<div class="attachment-block clearfix">
								<div class="col-xs-12">
								<!-- <h4 class="attachment-heading">
										<p></p>
										<strong>Descripci&oacute;n: </strong>
									</h4> -->	

									<div class="attachment-text">
									<p></p>
										<span th:utext="${producto.req_hardware}"></span>
									</div>
									<!-- /.attachment-text -->
								</div>
								<!-- /.attachment-pushed -->
							</div>
						
							<!-- /.attachment-block -->

							<!-- Social sharing buttons -->
							<!-- 
							<button type="button" class="btn btn-default btn-xs">
								<i class="fa fa-share"></i> Share
							</button>
							<button type="button" class="btn btn-default btn-xs">
								<i class="fa fa-thumbs-o-up"></i> Like
							</button>
							<span class="pull-right text-muted">45 likes - 2 comments</span> 
							-->
						</div>
						<!-- /.box-body -->


						<!-- /.box-footer -->
					</div>
					<!-- /.box -->
					
					
					  
				</div>
				<!-- /.col -->

			</div>
			

<!-- ////////////////////////////////////////////////////////////////////////////// -->

<!-- /////////////////////// SOFTWARE ////////////////////////////////// -->
					<!-- Main content -->
			<div class="container">
				<div class="col-md-12">
					<!-- Box Comment -->
					<div class="box box-widget collapsed-box">
						<div class="box-header with-border">
						
							<!-- /.user-block -->
							<div class="box-tools">
								<button type="button" class="btn btn-box-tool"
									data-toggle="tooltip" title="Mark as read">
									<i class="fa fa-circle-o"></i>
								</button>
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<!-- <button type="button" class="btn btn-box-tool"
									data-widget="remove">
									<i class="fa fa-times"></i>
								</button>-->
							</div>
							<!-- /.box-tools -->
							
							<h4 class="attachment-heading">
							  <p></p>
								  <strong>REQUISITOS DE SOFTWARE: </strong>
							</h4>
							
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<!-- post text -->
														
							<!-- Requerimientos de Software-->
							<div class="attachment-block clearfix">
								<div class="col-xs-12">
								<!-- <h4 class="attachment-heading">
										<p></p>
										<strong>Descripci&oacute;n: </strong>
									</h4> -->	

									<div class="attachment-text">
									<p></p>
										<span th:utext="${producto.req_software}"></span>
									</div>
									<!-- /.attachment-text -->
								</div>
								<!-- /.attachment-pushed -->
							</div>
						
							<!-- /.attachment-block -->

							<!-- Social sharing buttons -->
							<!-- 
							<button type="button" class="btn btn-default btn-xs">
								<i class="fa fa-share"></i> Share
							</button>
							<button type="button" class="btn btn-default btn-xs">
								<i class="fa fa-thumbs-o-up"></i> Like
							</button>
							<span class="pull-right text-muted">45 likes - 2 comments</span> 
							-->
						</div>
						<!-- /.box-body -->


						<!-- /.box-footer -->
					</div>
					<!-- /.box -->
					
					
					  
				</div>
				<!-- /.col -->

			</div>
			

<!-- ////////////////////////////////////////////////////////////////////////////// -->

<!-- /////////////////////// COMUNICACIONES ////////////////////////////////// -->
					<!-- Main content -->
			<div class="container">
				<div class="col-md-12">
					<!-- Box Comment -->
					<div class="box box-widget collapsed-box">
						<div class="box-header with-border">
						
							<!-- /.user-block -->
							<div class="box-tools">
								<button type="button" class="btn btn-box-tool"
									data-toggle="tooltip" title="Mark as read">
									<i class="fa fa-circle-o"></i>
								</button>
								<button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<!-- <button type="button" class="btn btn-box-tool"
									data-widget="remove">
									<i class="fa fa-times"></i>
								</button>-->
							</div>
							<!-- /.box-tools -->
							
							<h4 class="attachment-heading">
							  <p></p>
								  <strong>REQUISITOS DE COMUNICACIONES: </strong>
							</h4>
							
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<!-- post text -->
														
							<!-- Requerimientos de Comunicaciones -->
							<div class="attachment-block clearfix">
								<div class="col-xs-12">
								<!-- <h4 class="attachment-heading">
										<p></p>
										<strong>Descripci&oacute;n: </strong>
									</h4> -->	

									<div class="attachment-text">
									<p></p>
										<span th:utext="${producto.reqComunicaciones}"></span>
									</div>
									<!-- /.attachment-text -->
								</div>
								<!-- /.attachment-pushed -->
							</div>
						
							<!-- /.attachment-block -->

							<!-- Social sharing buttons -->
							<!-- 
							<button type="button" class="btn btn-default btn-xs">
								<i class="fa fa-share"></i> Share
							</button>
							<button type="button" class="btn btn-default btn-xs">
								<i class="fa fa-thumbs-o-up"></i> Like
							</button>
							<span class="pull-right text-muted">45 likes - 2 comments</span> 
							-->
						</div>
						<!-- /.box-body -->


						<!-- /.box-footer -->
					</div>
					<!-- /.box -->
					
					
					  
				</div>
				<!-- /.col -->

			</div>
			

<!-- ////////////////////////////////////////////////////////////////////////////// -->

		</div>
		<!-- /.content-wrapper -->

		<div th:replace="common/plantilla :: main_footer"></div>
	</div>
	<!-- ./wrapper -->

	<div th:replace="common/plantilla :: plugins"></div>


</body>
</html>